<app-toolbar [toolbarTitle]="'ตรวจสอบข้อมูล'" [isLoading]="isLoading">
</app-toolbar>
<div *ngIf="isLoading" class="spinner-overlay">
  <h1>กำลังส่งข้อมูล...{{upload.progress}}%</h1>
  <mat-progress-spinner color="accent" [mode]="upload.state === 'pending' ? 'indeterminate' : 'determinate'"
    [value]="upload.progress">
  </mat-progress-spinner>
  <h1>กรุณาเปิดหน้านี้ไว้จนกว่าท่าน<br>จะได้รับข้อความยืนยัน</h1>
</div>
<div class="form-container">
  <form (ngSubmit)="onSubmit()">
    <div class="editable-info">
      <div class="info-header">
        <span class="info-field">ข้อมูลส่วนบุคคล</span>
        <span>
          <button type="button" mat-button [disabled]="isLoading" (click)="onEditInfo('basic-info')">
            <mat-icon>edit</mat-icon> แก้ไขข้อมูล
          </button>
        </span>
      </div>
      <div class="info-body">
        <div>
          <span class="info-field">เลขประจำตัวประชาชน:</span>
          <span class="info-value">{{basicInfo.nationalId}}</span>
        </div>
        <div>
          <span class="info-field">ชื่อ-นามสกุล:</span>
          <span class="info-value">{{basicInfo.initial}} {{basicInfo.firstName}} {{basicInfo.lastName}}</span>
        </div>
        <div>
          <span class="info-field">เพศ:</span>
          <span class="info-value">{{getGenderViewValue(basicInfo.gender)}}</span>
        </div>
        <div>
          <span class="info-field">วัน/เดือน/ปี เกิด:</span>
          <span class="info-value">{{basicInfo.dateOfBirth | thaiDatetime:'D MMM YYYY'}}</span>
        </div>
        <div>
          <span class="info-field">ที่อยู่:</span>
          <span class="info-value">{{basicInfo.address}}</span>
        </div>
        <div>
          <span class="info-field">หมายเลขโทรศัพท์:</span>
          <span class="info-value">{{basicInfo.contactNumber}}</span>
        </div>
      </div>
    </div>
    <div class="editable-info second-item">
      <div class="info-header">
        <span class="info-field">ข้อมูลประกอบวีชาชีพทางเวชกรรม</span>
        <span>
          <button type="button" mat-button [disabled]="isLoading" (click)="onEditInfo('job-info')">
            <mat-icon>edit</mat-icon> แก้ไขข้อมูล
          </button>
        </span>
      </div>
      <div class="info-body">
        <div>
          <span class="info-field">{{role === 'doctor' ? 'สาขาที่ถนัด:' : 'แผนกที่สนใจ:'}}</span>
          <span class="info-value">
            {{role === 'doctor' ? jobInfo.specializedFields.join(", ") : jobInfo.departments.join(", ")}}
          </span>
        </div>
        <div *ngIf="jobInfo.medCertificateId">
          <span class="info-field image-label">เลขที่ใบประกอบวิชาชีพเวชกรรม:</span>
          <span class="info-value">{{jobInfo.medCertificateId}}</span>
        </div>
        <ng-container *ngIf="!passImageRequirement else meetImageRequirement">
          <p class="requirement-text">**กรุณาอัพโหลดรูปที่กำหนดไว้ให้ครบถ้วน**</p>
        </ng-container>
        <ng-template #meetImageRequirement>
          <ng-container *ngIf="imageBlobs[0] != null">
            <span class="info-field image-label">ภาพบัตรประจำตัวประชาชน:</span>
            <div class="preview-image-container"><img id="idCard" class="preview-image" [src]="getBlobUrl('idCard')"
                (error)="onImageError($event)" /></div>
          </ng-container>
          <ng-container *ngIf="imageBlobs[1] != null">
            <span class="info-field image-label">ภาพถ่ายพร้อมถือบัตรประจำตัวประชาชน:</span>
            <div class="preview-image-container"><img id="idCardSelfie" class="preview-image"
                [src]="getBlobUrl('idCardSelfie')" (error)="onImageError($event)" /></div>
          </ng-container>
          <ng-container *ngIf="imageBlobs[2] != null">
            <span class="info-field image-label">ภาพใบประกอบวิชาชีพ:</span>
            <div class="preview-image-container"><img id="medCertificate" class="preview-image"
                [src]="getBlobUrl('medCertificate')" (error)="onImageError($event)" /></div>
          </ng-container>
          <ng-container *ngIf="imageBlobs[3] != null">
            <span class="info-field image-label">ภาพถ่ายพร้อมถือใบประกอบวิชาชีพ:</span>
            <div class="preview-image-container"><img id="medCertificateSelfie" class="preview-image"
                [src]="getBlobUrl('medCertificateSelfie')" (error)="onImageError($event)" /></div>
          </ng-container>
        </ng-template>
      </div>
    </div>
    <div class="editable-info last-item">
      <div class="info-header">
        <span class="info-field">วันและเวลาที่สะดวก</span>
        <span>
          <button type="button" mat-button [disabled]="isLoading" (click)="onEditInfo('available-time')">
            <mat-icon>edit</mat-icon> แก้ไขข้อมูล
          </button>
        </span>
      </div>
      <div class="info-body">
        <div><span class="info-field">วันและเวลาที่สะดวก:</span>
          <ul *ngIf="basicInfo.availableTimes && basicInfo.availableTimes.length > 0 else noAvailableTime">
            <li class="available-time-li" *ngFor="let availableTime of basicInfo.availableTimes">{{availableTime}}</li>
          </ul>
          <ng-template #noAvailableTime>
            <span class="info-value">-</span>
          </ng-template>
        </div>
      </div>
    </div>
    <button mat-flat-button type="submit" color="primary" style="width:100%"
      [disabled]="isLoading || !passImageRequirement || errorResponse">{{isLoading ===
      true ? 'กำลังส่งข้อมูล' : 'ยืนยันการส่งข้อมูล'}}</button>
    <ng-container *ngIf="errorMessages?.length > 0">
      <div class="duplicate-field-container">
        <p class="requirement-text">**ข้อมูลต่อไปนี้ถูกใช้ในการลงทะเบียนแล้ว กรุณาแก้ไขและลองอีกครั้ง**</p>
        <ul>
          <li class="available-time-li" *ngFor="let error of errorMessages">
            {{error?.text}}
          </li>
        </ul>
      </div>
    </ng-container>
  </form>
</div>