.progress-bar-container {
  height: 4px;
}

mat-progress-bar {
  position: relative;
  z-index: 2;
  top: -24px;
  left: -24px;
  width: calc(100% + 48px);
}

.form-container {
  padding-top: 5px;
  padding-bottom: 10px;
  height: calc(100% - 70px);
}

.user-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 100%;
}

.form {
  flex-direction: column;
  display: flex;
  overflow: auto;
}

.section-container {
  font-size: 15px;
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(254, 241, 241);
}

.info-header > span {
  margin: 5px;
}

.info-header > span:first-child {
  margin-left: 15px;
}

.info-body {
  margin: 0 16px 20px 16px;
}

.info-body > div {
  margin-top: 14px;
  margin-bottom: 14px;
}

.info-field {
  font-weight: bold;
}

.info-value {
  margin-left: 10px;
}

.available-time-li {
  margin-bottom: 6px;
}

mat-form-field.mat-form-field,
button {
  font-size: 16px;
}

mat-form-field.mat-form-field {
  margin-top: 10px;
  width: 100%;
}

.fail-button-container {
  margin-right: 10px;
}

.fail-button {
  background-color: #ff8c83;
}

.pass-button {
  background-color: #7cff87;
}

.cancel-button {
  flex: 1;
  text-align: right;
}
