.progress-bar-container {
  height: 4px;
}

mat-progress-bar {
  position: relative;
  z-index: 2;
  top: -24px;
  left: -24px;
  width: calc(100% + 48px);
}

.form-container {
  padding-top: 5px;
  padding-bottom: 10px;
  height: calc(100% - 70px);
}

.user-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 100%;
}

.form {
  flex-direction: column;
  display: flex;
  overflow: auto;
}

.section-container {
  font-size: 15px;
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(254, 241, 241);
}

.info-header > span {
  margin: 5px;
}

.info-header > span:first-child {
  margin-left: 15px;
}

.info-body {
  margin: 0 16px 20px 16px;
}

.center-element {
  flex: 1 1 100%;
  text-align: center;
  text-decoration: underline;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: default;
}

.files-body {
  margin: 14px 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.files-body > img {
  margin: 1em;
  flex: 1 0 calc(40%);
  /* min-width: 75px; */
  max-width: 94%;
  font-weight: bold;
  transition: 0.3s;
  border: #77dd77;

  &:hover {
    cursor: pointer;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6);
  }
}

.note-body {
  margin: 2px 6px;
}

.note-text {
  margin: 16px 14px;
}

.info-body > div {
  margin-top: 14px;
  margin-bottom: 14px;
}

.info-field {
  font-weight: bold;
}

.info-value {
  margin-left: 10px;
}

.last-item {
  margin-bottom: 0;
}

.available-time-li {
  margin-bottom: 6px;
}

.note-form-field,
button {
  font-size: 16px;
}

.failed-retrieving-file-container {
  line-height: 21px;
}

.anchor-container > a {
  text-decoration: none;
}

.enabled {
  color: #1877f2;
}

.note-form-field {
  width: 100%;
}

.failed-text {
  margin: 16px 10px;
}

.failed-text-danger {
  color: red;
  text-decoration: underline;
}

.fail-button-container {
  margin-right: 10px;
}

.fail-button {
  background-color: #ff6961;
}

.cursor-help {
  cursor: help;
}

.pass-button {
  background-color: #77dd77;
}

.cancel-button {
  flex: 1;
  text-align: right;
}
