<div class="progress-bar-container">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</div>
<div class="form-container">
    <div class="user-container">
        <h2 mat-dialog-title>ตรวจสอบข้อมูลผู้สมัคร</h2>
        <div class="form">
            <div class="section-container">
                <div class="info-header">
                    <span class="info-field">ข้อมูลส่วนบุคคล</span>
                </div>
                <div class="info-body">
                    <div>
                        <span class="info-field">เลขประจำตัวประชาชน:</span>
                        <span class="info-value">{{content.nationalId}}</span>
                    </div>
                    <div>
                        <span class="info-field">ชื่อ-นามสกุล:</span>
                        <span class="info-value">{{content.initial}} {{content.firstName}} {{content.lastName}}</span>
                    </div>
                    <div>
                        <span class="info-field">วัน/เดือน/ปี เกิด:</span>
                        <span class="info-value">{{dateOfBirth}}</span>
                    </div>
                    <div>
                        <span class="info-field">ที่อยู่:</span>
                        <span class="info-value">{{content.address}}</span>
                    </div>
                    <div>
                        <span class="info-field">หมายเลขโทรศัพท์:</span>
                        <span class="info-value">{{content.contactNumber}}</span>
                    </div>
                    <div>
                        <span class="info-field">LINE ID:</span>
                        <span class="info-value">{{content.lineId}}</span>
                    </div>
                </div>
            </div>
            <div class="section-container">
                <div class="info-header">
                    <span class="info-field">ข้อมูลประกอบวีชาชีพทางเวชกรรม</span>
                </div>
                <div class="info-body">
                    <div *ngIf="role === 'doctor' 
                    ? content.specializedFields.length !== 0 
                    : content.departments.length !== 0">
                        <span class="info-field">{{role === 'doctor' ? 'สาขาที่ถนัด:' : 'แผนกที่สนใจ:'}}</span>
                        <span class="info-value">{{role === 'doctor'
                            ? content.specializedFields.join(", ")
                            : content.departments.join(", ")}}</span>
                    </div>
                    <div *ngIf="content.medCertificateId">
                        <span class="info-field">เลขที่ใบประกอบวิชาชีพเวชกรรม:</span>
                        <span class="info-value">{{content.medCertificateId}}</span>
                    </div>
                </div>
            </div>
            <div *ngIf="content.idCardImg && content.idCardImg !== ''" class="section-container">
                <div class="info-header">
                    <span class="info-field">ไฟล์แนบ</span>
                </div>
                <div class="files-body">
                    <img #img1 mat-card-image width="120px" *ngIf="content.idCardImg"
                        (click)="onImageClick(content.plainBlobUrl.idCardImg)" [src]="content.idCardImg" alt="">
                    <img #img2 mat-card-image width="120px" *ngIf="content.idCardSelfieImg"
                        (click)="onImageClick(content.plainBlobUrl.idCardSelfieImg)" [src]="content.idCardSelfieImg"
                        alt="">
                    <img #img3 mat-card-image width="120px" *ngIf="content.jobCertificateImg"
                        (click)="onImageClick(content.plainBlobUrl.jobCertificateImg)" [src]="content.jobCertificateImg"
                        alt="">
                    <img #img4 mat-card-image width="120px" *ngIf="content.jobCertificateSelfieImg"
                        (click)="onImageClick(content.plainBlobUrl.jobCertificateSelfieImg)"
                        [src]="content.jobCertificateSelfieImg" alt="">
                </div>
            </div>
            <div *ngIf="content.availableTimes !== ''" class="section-container">
                <div class="info-header">
                    <span class="info-field">วันและเวลาที่สะดวก</span>
                </div>
                <div class="info-body">
                    <div>
                        <ul>
                            <li class="available-time-li"
                                *ngFor="let availableTime of content.availableTimes.split(',')">
                                {{availableTime}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div *ngIf="content.status === 'รอการอนุมัติ' || content.verification?.statusNote"
                class="section-container">
                <div class="info-header">
                    <span class="info-field">หมายเหตุ</span>
                </div>
                <div class="note-body">
                    <ng-container *ngIf="content.status === 'รอการอนุมัติ'; else readMode">
                        <mat-form-field [formGroup]="verifyForm" class="mat-form-field" appearance="fill">
                            <textarea formControlName="note" matInput placeholder="หมายเหตุ" rows="3"></textarea>
                        </mat-form-field>
                    </ng-container>
                    <ng-template #readMode>
                        <div class="note-text">{{content.verification?.statusNote}}</div>
                    </ng-template>
                </div>
            </div>
            <div class="section-container">
                <div class="info-header">
                    <span class="info-field">ข้อมูลการตรวจสอบ</span>
                </div>
                <div class="info-body last-item">
                    <div>
                        <span class="info-field">สถานะ:</span>
                        <span class="info-value">{{content.status}}</span>
                    </div>
                    <div>
                        <span class="info-field">
                            {{content.status === 'รอการอนุมัติ' ? 'ลงทะเบียนเมื่อ' :'ตรวจสอบเมื่อ:'}}
                        </span>
                        <span class="info-value">
                            {{content.status === 'รอการอนุมัติ' ? createdTime : updatedTime}}
                        </span>
                    </div>
                    <div *ngIf="content.status !== 'รอการอนุมัติ' && content.verification">
                        <span class="info-field">ตรวจสอบโดย:</span><span class="info-value">
                            {{content.verification.verifiedBy?.firstName}}
                            {{content.verification.verifiedBy?.lastName}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<mat-dialog-actions align="end">
    <ng-container *ngIf="content.status === 'รอการอนุมัติ'">
        <div class="fail-button-container">
            <button mat-button type="button" class="fail-button" (click)="onVerifyClicked(content, status.DENIED)"
                [disabled]="isLoading">
                <mat-icon>highlight_off</mat-icon> ไม่ผ่าน
            </button>
        </div>
        <div>
            <button mat-button type="button" class="pass-button" (click)="onVerifyClicked(content, status.APPROVED)"
                [disabled]="isLoading">
                <mat-icon>check_circle_outline</mat-icon> ผ่าน
            </button>
        </div>
    </ng-container>
    <div class="cancel-button">
        <button mat-button color="primary" type="button" [disabled]="isLoading" mat-dialog-close>ยกเลิก</button>
    </div>
</mat-dialog-actions>