.verify-process-container {
    color: #001740;
  
    .verify-process-top {
      display: flex;
      flex-flow: row wrap;
  
      .title {
        text-decoration: none;
        display: block;
        padding: 2px;
        flex-flow: column wrap;
        flex: 1 1 auto;
  
        .label {}
  
        .dot {
          height: 5px;
          width: 5px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
        }
  
        .sub-label {
          display: block;
        }
      }
  
      button {
        align-self: flex-end;
        text-decoration: none;
        display: block;
        padding: 0px, 4px, 0px, 4px;
        margin: 2px;
      }
    }
  
    .mat-elevation-z5 {
      margin: 20px;
    }
  
    mat-card {
      mat-card-title {
        font-size: 16px;
        background-color: #fde6e6;
        margin: 2px;
        padding: 5px 0px 5px 5px;
      }
  
      mat-card-content {
        mat-form-field {
            width: 100%;
        }
      }
    }
  
  }
  