<div class="form-container">
  <div class="user-container">
    <h2 mat-dialog-title>แก้ไขข้อมูลสถานะการอบรม</h2>
    <form [formGroup]="jobInfoForm" (ngSubmit)="onSubmit()">
      <div class="section-container">
        <div class="info-header">
          <mat-icon>account_box</mat-icon>
          <span class="info-field">ชื่ออาสาสมัคร: {{data.row.fullName}}</span>
        </div>
        <div class="info-body">
          <p class="training-header-text"><b>รายการฝึกอบรม</b></p>
          <section class="checkbox-flex-container">
            <p *ngFor="let department of departments">
              <mat-checkbox [formControlName]="department.formControlName">
                {{ department.viewValue }}
              </mat-checkbox>
            </p>
          </section>
        </div>
      </div>
    </form>
  </div>
</div>
<mat-dialog-actions align="end">
  <div class="submit-button">
    <button mat-flat-button color="primary" type="button" mat-dialog-close (click)="onSubmit()">บันทึก</button>
  </div>
  <div class="cancel-button">
    <button mat-button color="primary" type="button" mat-dialog-close>ยกเลิก</button>
  </div>
</mat-dialog-actions>