<div class="verify-list-container mat-elevation-z5">
  <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="onSelectedTabChange($event.index)">
    <mat-tab label="รายชื่อแพทย์">
      <ng-template matTabContent>
        <app-registered-user-list [role]="'doctor'"></app-registered-user-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="รายชื่ออาสาสมัคร">
      <ng-template matTabContent>
        <app-registered-user-list [role]="'volunteer'"></app-registered-user-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>