.column-filter-container {
  margin: 20px 20px 0 20px;
}

.verify-list-table-container {
  overflow: auto;
}

mat-progress-bar {
  position: absolute;
  z-index: 102;
  width: 100%;
}

table {
  width: 100%;
}

th.mat-header-cell,
td.mat-cell {
  padding-left: 10px;
}

.mat-column-dateTime {
  min-width: 80px;
}

.mat-column-firstName {
  min-width: 150px;
}

.mat-column-status {
  min-width: 100px;
}

.mat-column-action {
  width: 64px;
}

.status-flex-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.status-flex-container > mat-icon {
  margin-right: 5px;
}

.removable-text {
  display: none;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

button {
  font-size: 16px;
}

.status-fail-icon {
  color: #ff6961;
}

.status-pass-icon {
  color: #77dd77;
}

@media only screen and (min-width: 600px) {
  .mat-column-action {
    width: 100px;
  }

  .removable-text {
    margin-left: 5px;
    display: inline-block;
  }
}
