<div class="column-filter-container">
    <app-column-filter [selectColumnOptions]="selectColumnOptions" [defaultSelectedColumn]="selectedFilterColumn"
        [isLoading]="isLoading" (selectColumnChanged)="onSelectColumnChanged($event)"
        (filterTextChanged)="onFilterTextChanged($event)" (filterTextCleared)="onFilterTextCleared($event)">>
    </app-column-filter>
</div>
<div class="mat-elevation-z5">
    <div class="verify-list-table-container">
        <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"> </mat-progress-bar>
        <table mat-table [dataSource]="dataSource" matSort matSortActive="createdTime" matSortDirection="asc"
            matSortDisableClear>
            <ng-container matColumnDef="createdTime" class="first-column">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันเวลาที่ลงทะเบียน </th>
                <td mat-cell *matCellDef="let row"> {{formattedDate(row.createdTime)}} </td>
            </ng-container>
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ-นามสกุล </th>
                <td mat-cell *matCellDef="let row"> {{row.initial}} {{row.firstName}} {{row.lastName}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะ </th>
                <td mat-cell *matCellDef="let row">
                    <ng-container *ngIf="row.status === 'รอการอนุมัติ'; else second">
                        <div class="status-flex-container">
                            <mat-icon class="status-waiting-icon">help_outline</mat-icon>
                            <span>รอตรวจสอบ</span>
                        </div>
                    </ng-container>
                    <ng-template #second>
                        <ng-container *ngIf="row.status === 'อนุมัติแล้ว';else third">
                            <div class="status-flex-container">
                                <mat-icon class="status-pass-icon">check_circle</mat-icon>
                                <span>ผ่าน</span>
                            </div>
                        </ng-container>
                    </ng-template>
                    <ng-template #third>
                        <div class="status-flex-container">
                            <mat-icon class="status-fail-icon">highlight_off</mat-icon>
                            <span>ไม่ผ่าน</span>
                        </div>
                    </ng-template>
                </td>
            </ng-container>
            <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef>อื่นๆ</th>
                <td mat-cell *matCellDef="let row">
                    <button mat-button (click)=onClick(row)>
                        <mat-icon>{{row.status === 'รอการอนุมัติ' ? 'search' : 'info'}}</mat-icon>
                        <span class="removable-text">{{row.status === 'รอการอนุมัติ' ? 'ตรวจสอบ' : 'ดูข้อมูล'}}</span>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
    </mat-paginator>
</div>