<!-- <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="data.src">
  <mat-card-actions>
    <button mat-button>ปิด</button>
  </mat-card-actions>
</mat-card> -->
<div class="content-container">
  <img mat-card-image width="100%" [src]="data.src">
</div>
<mat-dialog-actions align="end">
  <div class="cancel-button">
    <button mat-button color="primary" type="button" mat-dialog-close>ปิด</button>
  </div>
</mat-dialog-actions>