<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <div class="checkbox-container">
    <mat-checkbox #changePwdCb class="change-password-flex-item" (change)="onChangePasswordCheckboxChanged($event)"
      formControlName="changePasswordCheckbox">
      เปลี่ยนรหัสผ่าน
    </mat-checkbox>
  </div>
  <ng-container *ngIf="enableCredentialForm">
    <div class="credential-container">
      <mat-form-field formGroupName="credential">
        <input matInput formControlName="currentPassword" #currentPassword maxlength="64"
          [type]="hideCurrentPassword ? 'password' : 'text'" placeholder="รหัสผ่านปัจจุบัน"
          (keydown.space)="$event.preventDefault();">
        <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPassword" type="button">
          <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end">{{currentPassword.value.length}} / 64</mat-hint>
        <mat-error *ngIf="changePasswordForm.controls.credential.get('currentPassword')?.hasError('required')">
          จำเป็นต้องใส่*
        </mat-error>
      </mat-form-field>
      <mat-form-field formGroupName="credential">
        <input matInput formControlName="password" #password maxlength="64" [type]="hidePassword ? 'password' : 'text'"
          placeholder="รหัสผ่านใหม่" (keydown.space)="$event.preventDefault();" (paste)="$event.preventDefault();">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword" type="button">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end">{{password.value.length}} / 64</mat-hint>
        <mat-error *ngIf="changePasswordForm.controls.credential.get('password')?.hasError('required')">
          จำเป็นต้องใส่*
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls.credential.get('password')?.hasError('minlength')">
          รหัสผ่านต้องมีความยาวอย่างน้อย 8 ตัวอักษร
        </mat-error>
      </mat-form-field>
      <mat-form-field formGroupName="credential">
        <input matInput formControlName="confirmPassword" #confirmPassword maxlength="64"
          [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="ใส่รหัสผ่านใหม่อีกครั้ง"
          (keydown.space)="$event.preventDefault();">
        <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword" type="button">
          <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end">{{confirmPassword.value.length}} / 64</mat-hint>
        <mat-error *ngIf="changePasswordForm.controls.credential.get('confirmPassword')?.hasError('required')">
          จำเป็นต้องใส่*
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls.credential.get('confirmPassword')?.hasError('passwordMismatch')
          && !changePasswordForm.controls.credential.get('confirmPassword')?.hasError('required')">
          รหัสผ่านไม่ตรงกัน
        </mat-error>
      </mat-form-field>
      <div class="submit-button-container">
        <button mat-flat-button type="submit" color="primary"
          [disabled]="!changePasswordForm.dirty || !changePasswordForm.valid || isLoading">
          เปลี่ยนรหัสผ่าน
        </button>
      </div>
    </div>
  </ng-container>
</form>