<div class="button-flex-container">
  <div class="main-logo" [innerHTML]="mainLogo | safeHtml"> </div>
  <div class="doctor-button-flex-item">
    <button mat-button type="button" (click)="onRegister('doctor')">
      <div [innerHTML]="doctorImg | safeHtml"> </div>
      <div><b>ลงทะเบียนแพทย์</b><br>ผู้ที่มีใบประกอบวิชาชีพเวชกรรม</div>
    </button>
  </div>
  <div class="volunteer-button-flex-item">
    <button mat-button type="button" (click)="onRegister('volunteer')">
      <div [innerHTML]="volImg | safeHtml"> </div>
      <div><b>ลงทะเบียนอาสาสมัคร</b><br>อาสาสมัครทางการแพทย์</div>
    </button>
  </div>
  <div class="last-button-flex-item">
    <button mat-button type="button" (click)="onCheckStatus()">
      <span [innerHTML]="checkStatusLogo | safeHtml"> </span>
      <span><b>ตรวจสอบสถานะการลงทะเบียน</b></span>
    </button>
  </div>
</div>