.form-container {
  position: fixed;
  top: 56px;
  height: calc(100% - 56px);
  width: 100%;
  overflow: auto;
}

form {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  margin: 25px 25px;
}

mat-checkbox {
  margin-left: 1em;
}

.scrollable {
  overflow: auto;
  margin-bottom: 10px;
  height: 450px;
}

button {
  font-size: 16px;
}

@media only screen and (min-width: 600px) {
  .form-container {
    top: 64px;
    height: calc(100% - 64px);
  }

  form {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
}
