<app-toolbar [toolbarTitle]="'หนังสือยินยอมทางการรักษา'" [navigateBackPath]="basicInfoPath">
</app-toolbar>
<div class="form-container">
  <form [formGroup]="tcForm" (ngSubmit)="onSubmit()">
    <h3><b>หนังสือยินยอม-รับผิดชอบทางการรักษา</b></h3>
    <ol class="ordered-list">
      <li>
        <p>ข้าพเจ้าตกลงยินยอมให้ทีมไทยรอด จัดเก็บ
          ใช้และประมวลผลข้อมูลส่วนบุคคลที่ข้าพเจ้าได้ให้ไว้เพื่อการประมวลผลและการตรวจสอบข้อมูล
          และ/หรือเพื่อการบริหารจัดการและการให้บริการแก่ประชาชนตามโครงการไทยรอด</p>
      </li>
      <li>
        <p>ข้าพเจ้าตกลงยินยอมให้โรงพยาบาล องค์กรทางการแพทย์ หรือองค์กรที่เกี่ยวข้องกับการรักษา
          รวมถึงหน่วยงานของรัฐที่มีอำนาจหน้าที่ในการติดตาม ป้องกัน
          และบรรเทาสถานการณ์การแพร่ระบาดของโรคติดเชื้อไวรัสโคโรนา
          2019 (COVID-19) ร้องขอข้อมูลส่วนบุคคลของข้าพเจ้าจากทีมไทยรอดเพื่อประโยชน์ในการรักษา การติดตาม ป้องกัน
          หรือบรรเทาสถานการณ์การแพร่ระบาดของ COVID-19</p>
      </li>
      <li>
        <p>ความยินยอมของข้าพเจ้าในอันที่เกี่ยวข้องกับการจัดเก็บ ใช้ ประมวลผล หรือเปิดเผยข้อมูลส่วนบุคคล
          ของข้าพเจ้าฉบับนี้ ให้มีผลไปตลอดช่วงระยะเวลาดำเนินโครงการ
          และข้าพเจ้ารับทราบว่าหากข้าพเจ้าถอนความยินยอมดังกล่าว
          ข้าพเจ้าจะไม่สามารถร่วมเป็นอาสาสมัครหรือพันธมิตรที่ร่วมดำเนินโครงการได้ต่อไป</p>
      </li>
      <li>
        <p>ข้าพเจ้ารับทราบว่าข้อมูลทั้งหมดที่ข้าพเจ้าได้รับ จัดเก็บ หรือรวบรวม เพื่อการดำเนินโครงการไทยรอด
          เป็นข้อมูลของโครงการไทยรอด
          และหากข้าพเจ้าเปิดเผยหรือประมวลผลข้อมูลดังกล่าวโดยปราศจากความยินยอมอย่างชัดแจ้งของเจ้าของข้อมูลและทางทีมไทยรอด
          เจ้าของข้อมูลและ/หรือทางทีมไทยรอดคงไว้ซึ่งสิทธิที่จะดำเนินการตามกฎหมาย</p>
      </li>
      <li>
        <p>ข้าพเจ้าขอรับรองว่าข้อมูลที่ข้าพเจ้าได้ให้ไว้กับโครงการไทยรอดถูกต้องตามความเป็นจริงทุกประการ</p>
      </li>
    </ol>
    <mat-checkbox formControlName="consentCheckbox">
      ข้าพเจ้ารับทราบและยินยอม
    </mat-checkbox>
    <button mat-flat-button type="submit" color="primary" [disabled]="!tcForm.controls.consentCheckbox.value">
      <span class="vetical-align-middle">{{tcForm.controls.consentCheckbox.value === true
        ? 'ถัดไป ' : 'โปรดอ่านและยินยอม '}}</span>
      <mat-icon class="vetical-align-middle">arrow_forward</mat-icon>
    </button>
  </form>
</div>