<app-toolbar [toolbarTitle]="'หนังสือยินยอมทางการรักษา'" [navigateBackPath]="basicInfoPath">
</app-toolbar>
<div class="form-container">
  <form [formGroup]="tcForm" (ngSubmit)="onSubmit()">
    <h3><b>หนังสือยินยอม-รับผิดชอบทางการรักษา</b></h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
      a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.</p>
    <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
      sem
      neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
      tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget
      eros
      faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat,
      leo
      eget bibendum sodales, augue velit cursus nunc.</p>
    <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra
      quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
      Etiam
      ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
    <p>Nam sit amet est nec leo fermentum dictum sit amet nec velit. Aenean ultrices mollis arcu. In sit amet suscipit
      dolor. Etiam ultricies nunc in dignissim faucibus. Morbi et lorem semper, vulputate est vel, facilisis orci.
      Vivamus varius enim in risus egestas bibendum. Vivamus eu pharetra ex, ut lacinia nisl. Vivamus ut finibus quam.
      Sed varius nunc id magna fringilla viverra. Ut nec nisl dictum, ullamcorper enim at, fringilla mi. Maecenas
      aliquam suscipit nulla, sed pellentesque nisl ornare quis. Sed mauris enim, rutrum ac dui nec, faucibus volutpat
      leo. Nam maximus libero sed mattis iaculis. Integer et risus ante.</p>
    <mat-checkbox formControlName="consentCheckbox">ฉันรับทราบข้อความข้างต้นและยินยอม</mat-checkbox>
    <button mat-flat-button type="submit" color="primary"
      [disabled]="!tcForm.controls.consentCheckbox.value">{{tcForm.controls.consentCheckbox.value === true ?
      'ยินยอม' : 'โปรดอ่านและคลิกยินยอม'}}</button>
  </form>
</div>