.form-container {
  position: fixed;
  top: 56px;
  height: calc(100% - 56px);
  width: 100%;
  overflow: auto;
}

p {
  margin-bottom: 4px;
}

form {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  margin: 25px;
}

.form-field-container {
  display: flex;
  flex-flow: column;
  margin-bottom: 10px;
}

mat-form-field.mat-form-field,
button {
  font-size: 16px;
}

button[type="submit"] {
  margin-top: 15px;
}

.first-header-text {
  margin-top: -5px;
}

.checkbox-flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-bottom: 5px;
}

.checkbox-flex-container > p {
  flex: 1 1 40%;
}

input.user-id-input::-webkit-outer-spin-button,
input.user-id-input::-webkit-inner-spin-button {
  display: none;
}

input.user-id-input {
  -moz-appearance: textfield;
}

.mat-hint-error {
  float: right;
}

@media only screen and (min-width: 600px) {
  .form-container {
    top: 64px;
    height: calc(100% - 64px);
  }

  form {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
}
