<app-toolbar [toolbarTitle]="'ระบุข้อมูลวิชาชีพทางเวชกรรม'"></app-toolbar>
<div class="form-container">
  <form [formGroup]="jobInfoForm" (ngSubmit)="onSubmit()">
    <div class="form-field-container">
      <p class="first-header-text"><b>สาขาที่ถนัด</b></p>
      <section class="checkbox-flex-container">
        <p *ngFor="let field of specializedFields">
          <mat-checkbox [formControlName]="field.formControlName">
            {{field.viewValue}}
          </mat-checkbox>
        </p>
      </section>
      <p><b>เลขที่ใบประกอบวิชาชีพเวชกรรม <span class="text-danger">*</span></b></p>
      <mat-form-field>
        <input matInput type="tel" maxlength="5" formControlName="medCertificateId" placeholder="กรอกเฉพาะตัวเลข 5 หลัก"
          (keypress)="inputNumber($event)" (paste)="inputNumber($event)" #medCertificateId class="user-id-input">
        <button *ngIf="medCertificateId" type="button" tabindex="-1" matSuffix mat-icon-button aria-label="Clear"
          (click)="medCertificateId.value=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-hint align="end">{{medCertificateId.value.length}} / 5</mat-hint>
        <mat-error
          *ngIf="jobInfoForm.get('medCertificateId')?.hasError('min') || jobInfoForm.get('medCertificateId')?.hasError('max')">
          กรุณาใส่เลขให้ครบ 5 หลัก
          <mat-hint class="mat-hint-error">{{medCertificateId.value.length}} / 5</mat-hint>
        </mat-error>
        <mat-error *ngIf="jobInfoForm.get('medCertificateId')?.hasError('required')">
          จำเป็นต้องใส่*
        </mat-error>
      </mat-form-field>
      <app-upload-photo id="medCertificate" matIcon="cloud_upload" header="ภาพถ่ายใบประกอบวิชาชีพ" subHeader=""
        (image)="onImageChanged($event, 'medCertificate')" [required]="true">
      </app-upload-photo>
      <mat-error *ngIf="jobInfoForm.get('medCertificate')?.hasError('required')">
        จำเป็นต้องใส่*
      </mat-error>
      <app-upload-photo id="medCertificateSelfie" matIcon="photo_camera" header="ภาพถ่ายพร้อมถือใบประกอบวิชาชีพ"
        subHeader="" (image)="onImageChanged($event, 'medCertificateSelfie')" [required]="true">
      </app-upload-photo>
      <mat-error *ngIf="jobInfoForm.get('medCertificateSelfie')?.hasError('required')">
        จำเป็นต้องใส่*
      </mat-error>
      <app-upload-photo id="idCard" matIcon="cloud_upload" header="ภาพถ่ายบัตรประจำตัวประชาชน" subHeader=""
        (image)="onImageChanged($event, 'idCard')" [required]="true">
      </app-upload-photo>
      <mat-error *ngIf="jobInfoForm.get('idCard')?.hasError('required')">
        จำเป็นต้องใส่*
      </mat-error>
      <app-upload-photo id="idCardSelfie" matIcon="photo_camera" header="ภาพถ่ายพร้อมถือบัตรประจำตัวประชาชน"
        subHeader="" (image)="onImageChanged($event, 'idCardSelfie')" [required]="true">
      </app-upload-photo>
      <mat-error *ngIf="jobInfoForm.get('idCardSelfie')?.hasError('required')">
        จำเป็นต้องใส่*
      </mat-error>
    </div>
    <button mat-flat-button type="submit" color="primary" [disabled]="!jobInfoForm.valid">
      ถัดไป <mat-icon>arrow_forward</mat-icon>
    </button>
  </form>
</div>