<div class="progress-bar-container">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</div>
<div class="form-container">
    <div class="user-container">
        <h2 mat-dialog-title id="user-dialog-title"> {{isCreatingNew ? 'เพิ่ม':'แก้ไข'}}ผู้ใช้</h2>
        <form [formGroup]="userForm">
            <mat-form-field>
                <input matInput #email maxlength="64" placeholder="อีเมล" formControlName="email">
                <mat-hint align="end">{{email.value.length}} / 64</mat-hint>
                <mat-error
                    *ngIf="userForm.controls.email.hasError('email') && !userForm.controls.email.hasError('required')">
                    กรูณาใส่รูปแบบอีเมลให้ถูกต้อง
                </mat-error>
                <mat-error *ngIf="userForm.controls.email.hasError('required')">
                    จำเป็นต้องใส่*
                </mat-error>
            </mat-form-field>
            <ng-container *ngIf="isCreatingNew">
                <mat-form-field formGroupName="credential">
                    <input matInput formControlName="password" #password maxlength="64"
                        [type]="hidePassword ? 'password' : 'text'" placeholder="รหัสผ่านใหม่"
                        (keydown.space)="$event.preventDefault();" (paste)="$event.preventDefault();">
                    <button mat-icon-button matSuffix tabindex="-1" (click)="hidePassword = !hidePassword"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" type="button">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint align="end">{{password.value.length}} / 64</mat-hint>
                    <mat-error *ngIf="userForm.controls.credential.get('password')?.hasError('required')">
                        จำเป็นต้องใส่*
                    </mat-error>
                    <mat-error *ngIf="userForm.controls.credential.get('password')?.hasError('minlength')">
                        รหัสผ่านต้องมีความยาวอย่างน้อย 8 ตัวอักษร
                    </mat-error>
                </mat-form-field>
                <mat-form-field formGroupName="credential">
                    <input matInput formControlName="confirmPassword" #confirmPassword maxlength="64"
                        [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="ใส่รหัสผ่านใหม่อีกครั้ง"
                        (keydown.space)="$event.preventDefault();">
                    <button mat-icon-button matSuffix tabindex="-1" (click)="hideConfirmPassword = !hideConfirmPassword"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword" type="button">
                        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint align="end">{{confirmPassword.value.length}} / 64</mat-hint>
                    <mat-error *ngIf="userForm.controls.credential.get('confirmPassword')?.hasError('required')">
                        จำเป็นต้องใส่*
                    </mat-error>
                    <mat-error *ngIf="userForm.controls.credential.get('confirmPassword')?.hasError('passwordMismatch')
                  && !userForm.controls.credential.get('confirmPassword')?.hasError('required')">
                        รหัสผ่านไม่ตรงกัน
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <mat-form-field>
                <input matInput #firstName maxlength="32" placeholder="ชื่อ (ภาษาไทย)" formControlName="firstName">
                <mat-hint align="end">{{firstName.value.length}} / 32</mat-hint>
                <mat-error
                    *ngIf="userForm.controls.firstName.hasError('pattern') && !userForm.controls.firstName.hasError('required')">
                    กรุณาใส่ตัวอักษรภาษาไทย*
                </mat-error>
                <mat-error *ngIf="userForm.controls.firstName.hasError('required')">
                    จำเป็นต้องใส่*
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput #lastName maxlength="32" placeholder="นามสกุล (ภาษาไทย)" formControlName="lastName">
                <mat-hint align="end">{{lastName.value.length}} / 32</mat-hint>
                <mat-error
                    *ngIf="userForm.controls.lastName.hasError('pattern') && !userForm.controls.lastName.hasError('required')">
                    กรุณาใส่ตัวอักษรภาษาไทย*
                </mat-error>
                <mat-error *ngIf="userForm.controls.lastName.hasError('required')">
                    จำเป็นต้องใส่*
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput #contactNumber type="tel" maxlength="10" (keypress)="inputNumber($event)"
                    (paste)="inputNumber($event)" placeholder="หมายเลขโทรศัพท์" formControlName="contactNumber">
                <mat-hint align="end">{{contactNumber.value.length}} / 10</mat-hint>
                <mat-error *ngIf="userForm.controls.contactNumber.hasError('required')">
                    จำเป็นต้องใส่*
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>บทบาทในเว็ป</mat-label>
                <mat-select formControlName="role">
                    <mat-option *ngFor="let roleOption of roleOptions" [value]="roleOption.value">
                        {{roleOption.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-slide-toggle *ngIf="isCreatingNew" class="is-active-toggle" formControlName="isActive">เปิดใช้งาน
            </mat-slide-toggle>
        </form>
    </div>
</div>
<mat-dialog-actions align="end">
    <div>
        <button mat-flat-button color="primary" [disabled]="!userForm.dirty || !userForm.valid || isLoading"
            type="button" (click)="onSubmit()">{{isCreatingNew ? 'เพิ่ม' : 'บันทึก'}}</button>
    </div>
    <div class="cancel-button">
        <button mat-button color="primary" type="button" [disabled]="isLoading" mat-dialog-close>ยกเลิก</button>
    </div>
</mat-dialog-actions>