<div class="progress-bar-container">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</div>
<div class="form-container">
  <div class="user-container">
    <h2 mat-dialog-title id="user-dialog-title">แก้ไขบัญชีผู้ใช้</h2>
    <app-change-password-form [data]="{ id: authService.currentUser.id }" [(isLoading)]="isLoading">
    </app-change-password-form>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button color="primary" type="button" mat-dialog-close>ปิด</button>
</mat-dialog-actions>