.user-container {
  // flex-direction: column;
  // display: flex;
  // justify-content: center;
  // height: 100%;
}

.form-container {
  padding-top: 5px;
  padding-bottom: 20px;
  height: calc(100% - 80px);
}

button {
  font-size: 16px;
}
