<app-toolbar [toolbarTitle]="'ระบุข้อมูลส่วนบุคคล'"></app-toolbar>
<div class="form-container">
  <form [formGroup]="basicInfoForm" (ngSubmit)="onSubmit()">
    <div class="form-field-container">
      <p><b>เลขประจำตัวประชาชน</b></p>
      <mat-form-field class="id-mat-form-field" floatLabel="always">
        <mat-label>เลขประจำตัวประชาชน</mat-label>
        <input matInput readonly="true" formControlName="nationalId" #nationalId class="user-id-input">
      </mat-form-field>
      <p class="id-remark">หากท่านต้องการ แก้ไขเลขประจำตัวประชาชน<br>
        <span *ngIf="!nationalId.value">หรือ <u><b>เป็นค่าว่าง</b></u></span> กรุณา
        <span class="anchor-container">
          <a [routerLink]="" (click)="onBackToVerifyId()" class="enabled"> ลงทะเบียนใหม่ </a>
        </span>อีกครั้ง
      </p>
      <p><b>คำนำหน้า</b><span class="text-danger"> *</span></p>
      <mat-form-field>
        <mat-label>-- คำนำหน้า --</mat-label>
        <mat-select formControlName="initial">
          <mat-option *ngFor="let initial of initials" [value]="initial.value">
            {{initial.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p><b>ชื่อ</b><span class="text-danger"> *</span></p>
      <mat-form-field>
        <input matInput type="text" formControlName="firstName" placeholder="ชื่อ" #firstName>
        <button *ngIf="firstName" type="button" tabindex="-1" matSuffix mat-icon-button aria-label="Clear"
          (click)="firstName.value=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="basicInfoForm.get('firstName')?.hasError('required')">
          จำเป็นต้องใส่*
        </mat-error>
      </mat-form-field>
      <p><b>นามสกุล</b><span class="text-danger"> *</span></p>
      <mat-form-field>
        <input matInput type="text" formControlName="lastName" placeholder="นามสกุล" #lastName>
        <button *ngIf="lastName" type="button" tabindex="-1" matSuffix mat-icon-button aria-label="Clear"
          (click)="lastName.value=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="basicInfoForm.get('lastName')?.hasError('required')">
          จำเป็นต้องใส่*
        </mat-error>
      </mat-form-field>
      <p><b>วัน/เดือน/ปี (พ.ศ.) เกิด</b><span class="text-danger"> *</span></p>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="ตัวอย่าง 21/03/2525" formControlName="dateOfBirth"
          #dateOfBirth>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker startView="multi-year" [startAt]="startDate"></mat-datepicker>
        <button *ngIf="dateOfBirth" type="button" tabindex="-1" matSuffix mat-icon-button aria-label="Clear"
          (click)="dateOfBirth.value=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="basicInfoForm.get('dateOfBirth')?.hasError('required')">
          จำเป็นต้องใส่*
        </mat-error>
      </mat-form-field>
      <p><b>ที่อยู่</b><span class="text-danger"> *</span></p>
      <mat-form-field>
        <textarea matInput formControlName="address" placeholder="ที่อยู่" #address rows="4"></textarea>
        <button *ngIf="address" type="button" tabindex="-1" matSuffix mat-icon-button aria-label="Clear"
          (click)="address.value=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="basicInfoForm.get('address')?.hasError('required')">
          จำเป็นต้องใส่*
        </mat-error>
      </mat-form-field>
      <p><b>หมายเลขโทรศัพท์</b><span class="text-danger"> *</span></p>
      <mat-form-field>
        <input matInput type="tel" maxlength="10" (keypress)="inputNumber($event)" (paste)="inputNumber($event)"
          formControlName="contactNumber" placeholder="หมายเลขโทรศัพท์" #contactNumber>
        <button *ngIf="contactNumber" type="button" tabindex="-1" matSuffix mat-icon-button aria-label="Clear"
          (click)="contactNumber.value=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="basicInfoForm.get('contactNumber')?.hasError('required')">
          จำเป็นต้องใส่*
        </mat-error>
      </mat-form-field>
      <p><b>LINE ID</b><span class="text-danger"> *</span></p>
      <mat-form-field>
        <input matInput type="text" formControlName="lineId" placeholder="LINE ID" #lineId>
        <button *ngIf="lineId" type="button" tabindex="-1" matSuffix mat-icon-button aria-label="Clear"
          (click)="lineId.value=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="basicInfoForm.get('lineId')?.hasError('required')">
          จำเป็นต้องใส่*
        </mat-error>
      </mat-form-field>
    </div>
    <button mat-flat-button type="submit" color="primary" [disabled]="!basicInfoForm.valid">
      ถัดไป <mat-icon>arrow_forward</mat-icon>
    </button>
  </form>
</div>