<app-toolbar [toolbarTitle]="role ? 'ตรวจสอบเลขประจำตัว' : 'ตรวจสอบสถานะการลงทะเบียน'" [isLoading]="isLoading">
</app-toolbar>
<div class="form-container">
  <form [formGroup]="verifyForm" (ngSubmit)="onSubmit()">
    <div class="form-field-container">
      <h3><b>เลขประจำตัวประชาชนที่ต้องการ{{ role ? 'ลงทะเบียน' : 'ตรวจสอบ'}}</b></h3>
      <mat-form-field floatLabel="always">
        <mat-label>เลขประจำตัวประชาชน</mat-label>
        <input matInput type="number" formControlName="userId" placeholder="กรอกเฉพาะตัวเลข 13 หลัก" #userId
          class="user-id-input">
        <mat-hint align="end">{{userId.value.length}} / 13</mat-hint>
        <mat-error *ngIf="verifyForm.get('userId')?.hasError('min') || verifyForm.get('userId')?.hasError('max')">
          กรุณาใส่เลขให้ครบ 13 หลัก
          <mat-hint class="mat-hint-error">{{userId.value.length}} / 13</mat-hint>
        </mat-error>
        <mat-error *ngIf="verifyForm.get('userId')?.hasError('required')">
          จำเป็นต้องใส่*
        </mat-error>
      </mat-form-field>
    </div>
    <button mat-flat-button type="submit" color="primary"
      [disabled]="!verifyForm.dirty || !verifyForm.valid || isLoading">ตรวจสอบ</button>
    <br>Register
    <ul>
      <li>[1111122222333] for new users scenario</li>
      <li>[2222211111555] for existing users scenario</li>
      <li>[0000099999888] for error, or any number</li>
    </ul>
    Check Status
    <ul>
      <li>[2222211111444] for approved scenario</li>
      <li>[2222211111555] for pending scenario</li>
      <li>[0000099999888] for error, or any number</li>
    </ul>
    <ng-container *ngIf="isExistingUser">
      <p>ผู้ใช้นี้ได้ลงทะเบียนแล้ว<span class="anchor-container">
          <a [routerLink]="" (click)="onExistingUserCheckStatus()"
            [ngClass]="isLoading ? 'disabled' : 'enabled'">คลิกเพื่อตรวจสอบสถานะ
          </a></span></p>
    </ng-container>
    <ng-container *ngIf="errorResponse">
      <p>ไม่พบผู้ใช้นี้ในระบบ</p>
    </ng-container>
  </form>
</div>