.form-container {
  position: fixed;
  top: 56px;
  height: 100%;
  width: 100%;
}

form {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  margin: 60px 25px 0 25px;
}

.form-field-container {
  display: flex;
  flex-flow: column;
  margin-bottom: 10px;
}

mat-form-field.mat-form-field {
  margin-bottom: 5px;
}

mat-form-field.mat-form-field,
button {
  font-size: 16px;
}

input.user-id-input::-webkit-outer-spin-button,
input.user-id-input::-webkit-inner-spin-button {
  display: none;
}

input.user-id-input {
  -moz-appearance: textfield;
}

.mat-hint-error {
  float: right;
}

.role-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.role-container > p {
  margin-right: 5px;
  margin-top: 3px;
}

.role-container > mat-form-field {
  width: 35%;
  margin-left: 10px;
}

.status-text {
  margin-left: 10px;
  font-weight: bold;
}

.anchor-container {
  margin-left: 5px;
}

.anchor-container > a {
  text-decoration: none;
}

.enabled {
  color: #1877f2;
}

.disabled {
  pointer-events: none;
  cursor: default;
  color: grey;
}

@media only screen and (min-width: 600px) {
  .form-container {
    top: 64px;
  }

  form {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
}
